{% extends "modelli/base.html"%}

{% load staticfiles %}


 {% block bodyclass %} class="home" {% endblock bodyclass %}
 
     {% block breadcrums %} 
	{% endblock breadcrums %}



{% block content %}

    <!--startsVIEW-->

    	<section>
		<div class="video"></div> 
        </section>   
    
    	<div class="menu_cont">
        	<section class="sezione" ref="one">
            	<img src="{% static 'img/bg-azienda.jpg' %}" width="480" height="465" alt="azienda" class="bg one">
                <nav class="menu one">
                	<ul>
                    	<li><a href="#">La Storia</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    </ul>
                </nav>
            </section>
        	<section class="sezione" ref="two">
            	<img src="{% static 'img/bg-cashmere.jpg' %}" width="480" height="465" alt="cashmere" class="bg two">
                <nav class="menu two">
                	<ul>
                    	<li><a href="#">La Storia</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    </ul>
                </nav>
            </section>
        	<section class="sezione" ref="three">
            	<img src="{% static 'img/bg-qualita.jpg' %}" width="480" height="465" alt="qualità" class="bg three">
                <nav class="menu three">
                	<ul>
                    	<li><a href="#">La Storia</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    </ul>
                </nav>
            </section>
        	<section class="sezione" ref="four">
            	<img src="{% static 'img/bg-contatti.jpg' %}" width="480" height="465" alt="contatti"class="bg four">
                <nav class="menu four">
                	<ul>
                    	<li><a href="#">La Storia</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    	<li><a href="#">Voce Numero n</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    
    
    
    
    
    <!--endsVIEW-->
{% endblock content %}

{% block media %}
<script src="{% static 'js/home.js' %}" type="text/javascript"></script><!--realtivo alla page (potrebbe servire anche solo in home)-->
{% endblock media %}