{% extends "modelli/base.html"%}

{% load staticfiles %}

 {% block bodyclass %} class="sedi" {% endblock bodyclass %}



{% block content %}
    <!--startsVIEW-->
    
    <h1>Sedi</h1>
    
    <div class="menu-tot">
    	<nav>
        	<ul>
        		<li class="macro"><a href="#">Macro voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        	</ul>
            
        	<ul>
        		<li class="macro"><a href="#">Macro voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        	</ul>
        	<ul>
        		<li class="macro"><a href="#">Macro voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        	</ul>
        	<ul>
        		<li class="macro"><a href="#">Macro voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        		<li><a href="#">sotto voce</a></li>
        	</ul>
    	</nav>
    </div>
    
    <div class="page_content">
            
        <article>
        <div class="tex">
            <!--Map-->
            <div class="mapWrapper">
            <iframe width="440" height="195" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?source=s_q&amp;hl=en&amp;geocode=&amp;q=1384+Broadway,+14th+FL.+Suite+1106&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.016555,77.783203&amp;ie=UTF8&amp;hq=1384+Broadway,+14th+FL.+Suite+1106&amp;hnear=New+York&amp;t=m&amp;ll=40.729503,-73.996439&amp;spn=0.012683,0.03768&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            <!--<br /><small><a href="https://maps.google.com/maps?source=embed&amp;hl=en&amp;geocode=&amp;q=1384+Broadway,+14th+FL.+Suite+1106&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.016555,77.783203&amp;ie=UTF8&amp;hq=1384+Broadway,+14th+FL.+Suite+1106&amp;hnear=New+York&amp;t=m&amp;ll=40.729503,-73.996439&amp;spn=0.012683,0.03768&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small> -->
            </div>
            <!--/Map-->
        <h2>USA</h2>
            <p class="bloc1">
                Tollegno 1900 USA Inc.<br />
                1384 Broadway, 14th FL. Suite 1106 NY 10018 New York, USA<br />
                tel +1 212 869 3555<br />
                fax +1 212 921 8323
            </p> 
            <p class="bloc2">
                Mr. Giacomo Paolillo giacomo.paolillo@lorafesta.com.cn<br />
				Ms. Angela Liu angela.liu@lorafesta.com.cn
            </p> 
        </div>
        </article>
        
        <article>
        <div class="tex">
            <!--Map-->
            <div class="mapWrapper">
            <iframe width="440" height="195" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?source=s_q&amp;hl=en&amp;geocode=&amp;q=1384+Broadway,+14th+FL.+Suite+1106&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.016555,77.783203&amp;ie=UTF8&amp;hq=1384+Broadway,+14th+FL.+Suite+1106&amp;hnear=New+York&amp;t=m&amp;ll=40.729503,-73.996439&amp;spn=0.012683,0.03768&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            <!--<br /><small><a href="https://maps.google.com/maps?source=embed&amp;hl=en&amp;geocode=&amp;q=1384+Broadway,+14th+FL.+Suite+1106&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.016555,77.783203&amp;ie=UTF8&amp;hq=1384+Broadway,+14th+FL.+Suite+1106&amp;hnear=New+York&amp;t=m&amp;ll=40.729503,-73.996439&amp;spn=0.012683,0.03768&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small> -->
            </div>
            <!--/Map-->
        <h2>USA</h2>
            <p class="bloc1">
                Tollegno 1900 USA Inc.<br />
                1384 Broadway, 14th FL. Suite 1106 NY 10018 New York, USA<br />
                tel +1 212 869 3555<br />
                fax +1 212 921 8323
            </p> 
            <p class="bloc2">
                Mr. Giacomo Paolillo giacomo.paolillo@lorafesta.com.cn<br />
				Ms. Angela Liu angela.liu@lorafesta.com.cn
            </p> 
        </div>
        </article>
        <article>
        <div class="tex">
            <!--Map-->
            <div class="mapWrapper">
            <iframe width="440" height="195" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?source=s_q&amp;hl=en&amp;geocode=&amp;q=1384+Broadway,+14th+FL.+Suite+1106&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.016555,77.783203&amp;ie=UTF8&amp;hq=1384+Broadway,+14th+FL.+Suite+1106&amp;hnear=New+York&amp;t=m&amp;ll=40.729503,-73.996439&amp;spn=0.012683,0.03768&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            <!--<br /><small><a href="https://maps.google.com/maps?source=embed&amp;hl=en&amp;geocode=&amp;q=1384+Broadway,+14th+FL.+Suite+1106&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.016555,77.783203&amp;ie=UTF8&amp;hq=1384+Broadway,+14th+FL.+Suite+1106&amp;hnear=New+York&amp;t=m&amp;ll=40.729503,-73.996439&amp;spn=0.012683,0.03768&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small> -->
            </div>
            <!--/Map-->
        <h2>USA</h2>
            <p class="bloc1">
                Tollegno 1900 USA Inc.<br />
                1384 Broadway, 14th FL. Suite 1106 NY 10018 New York, USA<br />
                tel +1 212 869 3555<br />
                fax +1 212 921 8323
            </p> 
            <p class="bloc2">
                Mr. Giacomo Paolillo giacomo.paolillo@lorafesta.com.cn<br />
				Ms. Angela Liu angela.liu@lorafesta.com.cn
            </p> 
        </div>
        </article>
        <article>
        <div class="tex">
            <!--Map-->
            <div class="mapWrapper">
            <iframe width="440" height="195" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?source=s_q&amp;hl=en&amp;geocode=&amp;q=1384+Broadway,+14th+FL.+Suite+1106&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.016555,77.783203&amp;ie=UTF8&amp;hq=1384+Broadway,+14th+FL.+Suite+1106&amp;hnear=New+York&amp;t=m&amp;ll=40.729503,-73.996439&amp;spn=0.012683,0.03768&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            <!--<br /><small><a href="https://maps.google.com/maps?source=embed&amp;hl=en&amp;geocode=&amp;q=1384+Broadway,+14th+FL.+Suite+1106&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.016555,77.783203&amp;ie=UTF8&amp;hq=1384+Broadway,+14th+FL.+Suite+1106&amp;hnear=New+York&amp;t=m&amp;ll=40.729503,-73.996439&amp;spn=0.012683,0.03768&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small> -->
            </div>
            <!--/Map-->
        <h2>USA</h2>
            <p class="bloc1">
                Tollegno 1900 USA Inc.<br />
                1384 Broadway, 14th FL. Suite 1106 NY 10018 New York, USA<br />
                tel +1 212 869 3555<br />
                fax +1 212 921 8323
            </p> 
            <p class="bloc2">
                Mr. Giacomo Paolillo giacomo.paolillo@lorafesta.com.cn<br />
				Ms. Angela Liu angela.liu@lorafesta.com.cn
            </p> 
        </div>
        </article>
        
    </div>
    <!--endsVIEW-->
{% endblock content %}